{% extends 'main.html' %}
{% load static %}

{% block title %}<title>Buy</title>{% endblock %}

{% block content %}

<link rel='stylesheet' href="{% static 'styles/payment.css' %}">

<form method='post' action="{% url 'complete_buying' product.pk %}">
    {% csrf_token %}

    <h1>{{product.name}}</h1><br>

    <h4>Address</h4><br>
    <input type="radio" name="address" id="user_address" value="{{ship_data.address}}">
    <label for="user_address">{{ship_data.address}} / {{ship_data.city}}</label>
    <br>
    <input type="radio" name="address" id="spec_address">
    <label for="spec_address"><input type="text"></label>
    <br>

    <input type="submit">

</form>

{% endblock %}

{% block javascript %}

{% endblock %}