{% extends 'main.html' %}
{% load static %}

{% block title %}<title>Complete Data</title>{% endblock %}

{% block content %}

<link rel='stylesheet' href="{% static 'styles/forms.css' %}">

<form method='post'>
    {% csrf_token %}

    <label for='phone_number'>Phone Number:</label>
    <input type='phone_number' name='phone_number' id='phone_number'>

    <label for='address'>Address:</label>
    <input type='address' name='address' id='address'>

    <label for='city'>City:</label>
    <div class='custom-select'>
        <div class="select">
            <select name='city'>
                {% for city in data %}
                <option value="{{city}}">{{city}}</option>
                {% endfor %}
            </select>
            
        </div>
    </div>

    <span style='color: rgb(192, 0, 0); margin: 20px'>{{error}}</span>

    <button type='submit'>Submit</button>

</form>

{% endblock %}