.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    height: 100vh;
}

.header {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header img{
    width: 40%;
}

.content {
    padding: 40px;
    display: flex;
    justify-content: center;
}

form{
    border: 1px solid navajowhite;
    border-radius: 10px;
    padding: 30px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid navajowhite;
    margin: 10px;

}

label{
    font-size: 20px;
}

input:focus{
    outline: none;
}

ul{
    list-style-type: none;
}
.search, .links, .userlist, .jewelry{
    display: none;
}

input[type='submit']{
    cursor: pointer;
}

@media ( max-width: 900px ){

    body{
        padding: 0px;
        display: block;
    }

    .container{
        display: block;
    }

    .header{
        display: flex;
        justify-items: center;
        border-radius: 0px;
        height: auto;
    }

    .header img{
        width: 22%;
    }


}
